@charset "utf-8";
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 100;
    src: local(※),
        url(../font/NotoSerifCJKKRExtraLight.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-ExtraLight.woff) format("woff"),
        url(../fontNotoSerifKR-ExtraLight.woff2) format("woff2")
}
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 200;
    src: local(※),
        url(../font/NotoSerifCJKKRLight.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-Light.woff) format("woff"),
        url(../font/NotoSerifKR-Light.woff2) format("woff2")
}
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/NotoSerifCJKKR.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-Regular.woff) format("woff"),
        url(../font/NotoSerifKR-Regular.woff2) format("woff2")
}
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 500;
    src: local(※),
        url(../font/NotoSerifCJKKRMedium.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-Medium.woff) format("woff"),
        url(../font/NotoSerifKR-Medium.woff2) format("woff2")
}
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 600;
    src: local(※),
        url(../font/NotoSerifCJKKRSemiBold.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-SemiBold.woff) format("woff"),
        url(../font/NotoSerifKR-SemiBold.woff2) format("woff2")
}
@font-face{
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 800;
    src: local(※),
        url(../font/NotoSerifCJKKRBold.eot) format("embedded-opentype"),
        url(../font/NotoSerifKR-Bold.woff) format("woff"),
        url(../font/NotoSerifKR-Bold.woff2) format("woff2")
}
@font-face{
    font-family: "Baskerton";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/BaskertonItalic.eot) format("embedded-opentype"),
        url(../font/BaskertonItalic.woff) format("woff"),
        url(../font/BaskertonItalic.woff2) format("woff2")
}
@font-face{
    font-family: "Portrait";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/PortraitScript.eot) format("embedded-opentype"),
        url(../font/PortraitScript.woff) format("woff"),
        url(../font/PortraitScript.woff2) format("woff2")
}
@font-face{
    font-family: "Tuesday";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/TuesdayNight-Regular.eot) format("embedded-opentype"),
        url(../font/TuesdayNight-Regular.woff) format("woff"),
        url(../font/TuesdayNight-Regular.woff2) format("woff2")
}
@font-face{
    font-family: "PrettyNight";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/Cafe24Oneprettynight.eot) format("embedded-opentype"),
        url(../font/Cafe24Oneprettynight.woff) format("woff"),
        url(../font/Cafe24Oneprettynight.woff2) format("woff2")
}
@font-face{
    font-family: "Danjunghae";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/Cafe24Danjunghae.eot) format("embedded-opentype"),
        url(../font/Cafe24Danjunghae.woff) format("woff"),
        url(../font/Cafe24Danjunghae.woff2) format("woff2")
}
@font-face{
    font-family: "Didot";
    font-style: normal;
    font-weight: 300;
    src: local(※),
        url(../font/DidotRegular.eot) format("embedded-opentype"),
        url(../font/DidotRegular.woff) format("woff"),
        url(../font/Didot.woff2) format("woff2")
}
/* Generated by Glyphter (http://www.glyphter.com) on  Thu Aug 30 2018*/
@font-face {
    font-family: 'Glyphter';
    src: url('../font/Glyphter.eot');
    src: url('../font/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../font/Glyphter.woff') format('woff'),
         url('../font/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url("https://use.typekit.net/uct0ikt.css");
@import url('https://fonts.cdnfonts.com/css/a-auto-signature');
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}